    @{
        ViewData["Title"] = "Главная";
    }
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1><br /><br /><br />
        <form method="get">
            <p>
                <input type="text" name="SearchString" size="80" />
                <input type="submit" asp-controller="CompanyTb" asp-action="SearchResult" value="Поиск" />
            </p>
        </form><br /><br /><br />
        <article>
                <p>Целью этого Web-приложения является предоставить возможность пользователям-представителям организаций,</p>
                <p>осуществлять поиск поставщиков услуг среди клиентов "XXXX" банка.</p>
                <p>Возникновение финансовых отношений между клиентами одного банка предполагает выгоду как банку, так и клиентам.</p>
                <p>Клиенты получают возможность быстрого перевода денежных средств,так как являются клиентами одного банка.</p>
                <p>Приложение ппредназначено для организаций (юридических лиц) предоставляющих услуги для других организаций (юридических лиц),</p>
                <p>т.е. ориентировано на сегмент В2В.</p>
                <p>ЭТО ДИПЛОМНАЯ РАБОТА</p>
                <p>Web-приложение для взвешенного выбора поставщика услуг среди юридических лиц - клиентов банка.</p>
        </article>
    </div>
    <div class="text-center button">
    </div>
