@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No privacy policy.</p>
<p>
    Данное приложение является дипломной работой.
</p>
<p>
    Web-приложение для взвешенного выбора поставщика услуг среди юридических лиц - клиентов банка.
</p>
<p>
    Цель

    Целью является разработка Web-приложения. Рабочее название «Банк друзей» («Bank of Friends»). Приложение разрабатывается для организаций (юридических лиц) предоставляющих услуги для других организаций (юридических лиц), т.е. ориентировано на сегмент В2В.
    Основной задачей приложения является возможность пользователя- представителя организации (юридического лица), как зарегистрированного, так и не зарегистрированного в приложении, осуществлять поиск поставщиков услуг среди клиентов одного банка.
    Возникновение финансовых отношений между клиентами одного банка предполагает выгоду как банку, так и клиентам. Банк не осуществляет перевод денежных средств в сторонние банки. Клиенты получают быстрый перевод денежных средств. При регистрации в приложении - бесплатную рекламу.
    При условии, что пользователь так же является клиентом этого банка и зарегистрирован в проектируемом приложении, он получает бесплатную рекламу в рамках этого приложения и, возможно, какие-нибудь бонусы от банка.


</p>